<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registro de Carreras</title>
	<link rel="stylesheet" href="css/estilo.css" type="text/css"/>
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
	<link rel="stylesheet" href="css/select2.min.css" type="text/css"/>
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="shortcut icon" href="images/uac.png">
	
	<script src="js/jquery-2.1.4.min.js" type="text/javascript"></script>
	<script src="js/bootstrap.min.js" type="text/javascript"></script>
	<script src="js/select2.min.js" type="text/javascript"></script>
	<script src="js/administradorCRUD.js" type="text/javascript"></script>

</head>
<body>
	#include("administracion/navbar.html")
	<br><br>
	<div class="container" id="containerPrincipal">
		<div class="panel panel-primary animated">
			<div class="panel-heading" >
				<h3 class="panel-title text-center">Carrera</h3>
	        </div>
			<div class="panel-body">
                <form action="Administrador.action" method="post">
                <input type="hidden" name="tipoAccion" id="carrera" value="insertarCarrera">
                    <div class="row">
                        <div class="col-md-4 col-sm-5 col-ls-4">
                            <div class="form-group">
                                <label for="usuarioCampo">Carrera:</label>	
                                <input type='text' class="form-control" name="carreraDTO.nombreCarrera"
                                id="idCarrera" required maxlength="250"/>
                            </div>    	
                        </div>
                        <div class="col-md-4 col-sm-3">
                            <div class="form-group">
                                <label for="facultad">Facultad:</label>
                                <select class="form-control" name="carreraDTO.idFacultad" id="facultad">
                                 	<option value=0>Seleccione facultad...</option>
	            					#foreach($facultadDTO in $listaFacultad)
	            						<option value=$facultadDTO.idFacultad>$facultadDTO.facultad</option>
	            					#end
	            			</select>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-ls-4">
                            <div class="form-group">
                                <label for="usuarioCampo">Plan de estudio:</label>	
                                <input type='text' class="form-control" name="carreraDTO.planEstudios" required maxlength="4"/>
                            </div>    	
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-offset-3  col-lg-6 animated bounceInLeft">
                            <div class="form-group">								
                                <button type="submit"  class="form-control btn btn-primary">Registrar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        #if($mensaje)
                            <div class="alert alert-danger">
                                <strong>Fallo!</strong> $mensaje
                            </div>
                        #end	
                        #if($exito)
                            <div class="alert alert-success">
                                <strong>Exito!</strong> $exito
                            </div>
                        #end
                        #if($alerta)
                            <div class="alert alert-danger">
                                <strong>Fallo!</strong> $alerta
                            </div>
                        #end	
                    </div>
                  </div>
	        </div>
		</div>
		
	
	</div>
	#include("footer.html")
</body>
</html>