<div class="row">
<div class="col-md-5">
<table class="table">
	<tr text-align="center">
		<th> ID </th>
		<th> Genericas </th>
		<th> Materias </th>
	</tr>
	#set($start = 0)
	#set($end = $fin)
	
	#foreach($i in [$start..$end])
	<tr>
	   <td>$numGenericas.get($i)</td>
	   <td>$lista.get($i)</td>
	   <td>$numMaterias.get($i)</td>
	</tr>   
	#end
	</table>
	</div>
	
		<div class="col-md-7">
		<img src="grafica.action?ancho=550&alto=400&tipoAccion=graficaFacultad&idFacultad=$idFacultad" id="imgReporte">
		</div>
	</div>